@page "/ChosenMovie/{Id:int}"
@inject IMembershipService membershipService;
@using HorrorFlux.Common.DTOs;
@using HorrorFlux.Common.Services;
@using HorrorFlux.Membership.UI.Pages.Single_Movie


<a href="/" type="button" class="btn btn-primary btn-lg">
    <i class="oi oi-arrow-left">
        <span class="vertical-align">Back</span>
    </i>
</a> @*Här skulle man ju kunna ha en bild som en knapp istället som är en bakåtpil, men funktionen är ju densamma.*@

<div class="d-flex">
    <h3>@film.Title</h3>
    <img src="@film.FilmPoster"/>
</div>

<a href="/VideoPage/@Id" class="btn-primary">Play</a>



@foreach (previewFilmDTO film in film.SimilarFilms)
{

    <SelectedMovie film="film"/>
}


@code {
    [Parameter] public int Id { get; set; }
    public FilmDTO film { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        film = await membershipService.GetFilmAsync(Id);
    }

}
