<div class="d-flex SelectionRow">
    @foreach (previewFilmDTO film in films)
    {
        <a href="/ChosenMovie/@film.Id" class="SingleFilm ps-2" style="">
            <img src="@film.FilmPoster" class="PictureThumbnail" alt="poster for {@film.Title}">
        </a>
    }

</div>
@code {
    [Parameter] public List<previewFilmDTO> films { get; set; } = new();
}
