@page "/"
@inject IMembershipService membershipService;

<PageTitle>Dashboard</PageTitle>

@foreach(GenreDTO genre in genres)
{
    if (genre.Films.Count()>0)
    {
      <h3>@genre.Name</h3>
   
      <FilmChooser films="genre.Films"/>
    }

}
@code {
    List<GenreDTO> genres { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        genres = await membershipService.GetGenresAsync();
    }

}
 