@inject IAdminService adminService

@if (string.IsNullOrEmpty(Alert) == false)
{
    <div class="d-flex">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <strong>@Alert</strong>
            <button type="button" @onclick="CloseAlert" class="btn-close" aria-label="Close"></button>
        </div>
    </div>
}
<div class="d-flex me-1">
    <a href="/" class="btn btn-primary me-1">Home</a>
    <button class="btn btn-primary me-1" @onclick="()=>ChangePageType(PageType.Index)">Index</button>
    <button class="btn btn-primary me-1" @onclick="()=>ChangePageType(PageType.Create)">Create</button>
</div>

@code {
    List<FilmDTO> Model { get; set; } = new();
    string Alert { get; set; } = string.Empty;
    string Navigation { get; set; } = PageType.Index;


    protected override async Task OnInitializedAsync()
    {
        Alert = string.Empty;
        //Alert = string.Empty;
        Model = await adminService.GetAsync<FilmDTO>("Films?freeOnly=false");
        //var test = await adminService.SingleAsync<FilmDTO>("Films/1");
        //await adminService.CreateAsync("Films", new addFilmDTO
        //    {
        //        Title = "test",
        //        Description = "testsson",
        //        FilmUrl = "test",
        //        FilmPoster = "Testning",
        //        Release = DateTime.Now,
        //        Free = false,
        //        DirectorId = 1
        //    });
        //await adminService.EditAsync("Films/10", new editFilmDTO
        //    {
        //        Id=10,
        //        Title = "NUTestarJagEditFUktionen",
        //        Description = "testsson",
        //        FilmUrl = "test",
        //        FilmPoster = "Testning",
        //        Release = DateTime.Now,
        //        Free = false,
        //        DirectorId = 1
        //    });
        //await adminService.DeleteAsync<GenreDTO>("Films/10");

    }

    void ChangePageType(string pageType)
    {
        Navigation = pageType;
    }
    void CloseAlert()
    {
        Alert = string.Empty;
    }
}
