@inject IAdminService adminService;

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Film</th>
            <th scope="col">Similar Film</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (SimilarFilmsNameDTO dto in Model)
        {
            <tr>
                <td>@dto.ParentFilmTitle</td>
                <td>@dto.SimilarFilmTitle</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @*                        <button type="button" @onclick="@(() => OnClick.InvokeAsync(new ClickModelReferens<FilmGenreNameDTO> (PageType.Edit, dto)))" class="btn btn-warning">Edit</button>*@
                        <button type="button" @onclick="@(() => OnClick.InvokeAsync(new ClickModelReferens<SimilarFilmsNameDTO> (PageType.Delete, dto)))" class="btn btn-danger">Delete</button>
                    </div>
                </td>

            </tr>
        }


    </tbody>
</table>


@code {
    [Parameter] public List<SimilarFilmsNameDTO> Model { get; set; } = new();
    [Parameter] public EventCallback<ClickModelReferens<SimilarFilmsNameDTO>> OnClick { get; set; }
}